<!DOCTYPE html>
<html data-theme="light" lang="@{controller.language}">

<head>
	<meta charset="utf-8" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="robots" content="all,follow" />
	<title>@{repository.siteTitle}</title>
	<link rel="icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
	@{import('head', 'bulma.min.css', 'custom.css')}
</head>

<body class="nomenu">

@{body}

</body>

</html>
