@{layout('layout-nomenu')}

<section class="hero is-fullheight">
	<div class="hero-body">
		<div class="container">
			<div class="columns is-centered">
				<div class="column is-4">
					<div class="box">
						<h1 class="title is-4 has-text-centered">@(#reset.title)</h1>

						<form id="form_reset">
							<input type="hidden" name="code" value="@{repository.code}">

							<div class="field">
								<label class="label">@(#reset.password.label)</label>
								<input class="input" type="password" name="password" id="input_password" required autocomplete="new-password">
							</div>

							<div class="field">
								<label class="label">@(#reset.password.confirm.label)</label>
								<input class="input" type="password" name="passwordConfirm" required autocomplete="new-password">
							</div>

							<ul class="is-size-7 mb-4" id="password_checklist">
								<li data-rule="length" class="has-text-grey"><i class="far fa-circle"></i> @(#register.password.rules.length)</li>
								<li data-rule="lower" class="has-text-grey"><i class="far fa-circle"></i> @(#register.password.rules.lower)</li>
								<li data-rule="upper" class="has-text-grey"><i class="far fa-circle"></i> @(#register.password.rules.upper)</li>
								<li data-rule="digit" class="has-text-grey"><i class="far fa-circle"></i> @(#register.password.rules.digit)</li>
								<li data-rule="special" class="has-text-grey"><i class="far fa-circle"></i> @(#register.password.rules.special)</li>
							</ul>

							<div class="notification is-danger is-hidden" id="notification_error"></div>

							<div class="field mt-4">
								<button class="button is-primary is-fullwidth" type="submit" id="button_reset">
									<span>@(#reset.submit)</span>
								</button>
							</div>
						</form>

						<div class="notification is-success is-hidden" id="notification_success">@(#reset.success.text)</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

@{import('frontendhelper.js + common.js')}
@{import('pages/reset-password/00_init.js + pages/reset-password/10_submit.js')}
